<% include ../../partials/header %>
<div class="container">
    <div class="row">
        <div class="thumbnail">
            <h1>Add New Campground</h1>
            <hr>
            <div>
                <form action="/campgrounds" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="image" placeholder="img url">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="description" placeholder="Brief description">
                    </div>
                    <div class="form-group-submit">
                        <button class="btn btn-md btn-primary btn-block">Submit</button>
                    </div>
                </form>
                <a class="btn btn-sm btn-default back" href="/campgrounds">Back</a>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footer %>