<% include ../../partials/header %>
<div class="container">
    <div class="row">
        <div class="thumbnail">
            <h1>Add New Campground</h1>
            <hr>
            <div>
                <form action="/campgrounds" method="post">
                    <div class="form-group">
                        <label for="name">Campground Name</label>
                        <input class="form-control" type="text" name="name" placeholder="eg. Granny's Flat Campground">
                    </div>
                    <div class="form-group">
                        <label for="image">Image URL</label>
                        <input class="form-control" type="text" name="image" placeholder="eg. http://www.image.com">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input class="form-control" type="text" name="description" placeholder="Brief description of campground">
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input class="form-control" type="text" name="location" id="location" placeholder="eg. Mount Buller, Australia">
                    </div>
                    <div class="form-group-submit">
                        <button class="btn btn-md btn-primary btn-block">Submit</button>
                    </div>
                </form>
                <a class="btn btn-sm btn-default back" href="/campgrounds">Back</a>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footer %>